/bin/*
*.apk
*.DS_Store
/bin

bin/classes/fr/eurecom/cardify/Game.class

bin/classes/fr/eurecom/cardify/Game.class

bin/classes/fr/eurecom/cardify/Lobby.class

bin/classes/fr/eurecom/util/Card.class

bin/classes/fr/eurecom/util/Card.class

bin/classes/fr/eurecom/util/WiFiDirectBroadcastReceiver$1.class

bin/classes/fr/eurecom/util/WiFiDirectBroadcastReceiver$CardPeerListListener.class

bin/classes/fr/eurecom/util/WiFiDirectBroadcastReceiver.class

bin/classes/fr/eurecom/util/WiFiDirectBroadcastReceiver.class

gen/fr/eurecom/cardify/R.java

gen/fr/eurecom/cardify/R.java
